@import './css/modules/scroll.css';
$color1: #9c0000;
$color2: #E30B21;
$color3: #e0e0e0;

.text-1
{
  color: $color1;
}
.text-2
{
  color: $color2;
}
.text-3
{
  color: $color3;
}
.bg-1
{
  background-color: $color1 !important;
}
.bg-2
{
  background-color: $color2 !important;
}
.bg-3
{
  background-color: $color3 !important;
}

body
{
    background-color: #eee;
}

body::-webkit-scrollbar {
    width: 6px;     /* Tamaño del scroll en vertical */
    height: 5px;    /* Tamaño del scroll en horizontal */
    /*display: none;  Ocultar scroll */
  }
  /* Ponemos un color de fondo y redondeamos las esquinas del thumb */
  body::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  body::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  /* Cambiamos el fondo cuando esté en active */
  body::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }
  
  /* Ponemos un color de fondo y redondeamos las esquinas del track */
  body::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }
  
  /* Cambiamos el fondo cuando esté en active o hover */
  body::-webkit-scrollbar-track:hover,
  body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
  }
  
.text-sm
{
    font-size: 0.85em;
}